*.substvars
*.debhelper
*.debhelper.log
/build-*
/files
/nginx
/nginx-doc
/nginx-common
/nginx-extras-dbg
/nginx-extras
/nginx-light
/nginx-light-dbg
/nginx-full
/nginx-full-dbg
/nginx-passenger
/nginx-passenger-dbg
/nginx-core/
/nginx-core-dbg/
/nginx-extras.install
/libnginx-mod-http-auth-pam
/libnginx-mod-http-auth-spnego
/libnginx-mod-http-cache-purge
/libnginx-mod-http-dav-ext
/libnginx-mod-http-echo
/libnginx-mod-http-fancyindex
/libnginx-mod-http-geoip
/libnginx-mod-http-headers-more-filter
/libnginx-mod-http-image-filter
/libnginx-mod-http-lua
/libnginx-mod-http-ndk
/libnginx-mod-http-perl
/libnginx-mod-http-subs-filter
/libnginx-mod-http-uploadprogress
/libnginx-mod-http-upstream-fair
/libnginx-mod-http-xslt-filter
/libnginx-mod-mail
/libnginx-mod-nchan
/libnginx-mod-stream
**/*.pc
/debhelper-build-stamp
